&--b,
&--bc,
&--bc1,
&--bc2,
&--bc4,
&--bc6,
&--bd,
&--bdult,
&--bx1,
&--bx6,
&--bvsl4,
&--b19,
&--b22,
&--b25,
&--b26,
&--b27,
&--b29,
&--b35,
&--b36,
&--b37,
&--b42,
&--b43 {
  background-color: $b;
}
&--b-extern {
  background-color: $bExtern;
}
&--bA {
  background-color: $bA;
}
&--bx4 {
  background-color: $bX4;
}
&--bx9 {
  background-color: $bX9;
}
&--b1 {
  background-color: $b1;
}
&--b2 {
  background-color: $b2;
}
&--b3 {
  background-color: $b3;
}
&--b4,
&--b4a {
  background-color: $b4;
}
&--b5,
&--b5a {
  background-color: $b5;
}
&--b6 {
  background-color: $b6;
}
&--b7 {
  background-color: $b7;
}
&--b8,
&--b8a,
&--b8b {
  background-color: $b8;
}
&--b9 {
  background-color: $b9;
}
&--b10 {
  background-color: $b10;
}
&--b11,
&--b11a {
  background-color: $b11;
}
&--b12 {
  background-color: $b12;
}
&--b13 {
  background-color: $b13;
}
&--b14 {
  background-color: $b14;
}
&--b15 {
  background-color: $b15;
}
&--b16 {
  background-color: $b16;
}
&--b17 {
  background-color: $b17;
}
&--b18 {
  background-color: $b18;
}
&--b20 {
  background-color: $b20;
}
&--b21 {
  background-color: $b21;
}
&--b23 {
  background-color: $b23;
}
&--b24 {
  background-color: $b24;
}
&--b28 {
  background-color: $b28;
}
&--b30,
&--b31 {
  background-color: $b30;
}
&--b32 {
  background-color: $b32;
}
&--b33 {
  background-color: $b33;
}
&--b34 {
  background-color: $b34;
}
&--b41 {
  background-color: $b41;
}
&--b77 {
  background-color: $b77;
}
&--b78 {
  background-color: $b78;
}
