$b: #f9a800;
$bExtern: #181716;
$bA: #2b2a29;
// C1, C2, C4, C6
// D
// Dult
$bX4: #e5007c;
// X6
$bX9: #888aa5;
$b1: #e3000b;
$b2: #008b39;
$b3: #d7938e;
$b4: #768085;
// 4A
$b5: #9e97bd;
$b6: #d7ae00;
$b7: #f07e00;
$b8: #5a6c64;
// 8A, 8B
$b9: #00407d;
$b10: #0080ba;
$b11: #ae72a7;
// 11A
$b12: #d40064;
$b13: #adc000;
$b14: #ef87b6;
$b15: #3ec0f0;
$b16: #80544e;
$b17: #64b3ab;
$b18: #dd7300;
// 19
$b20: #50ae2f;
$b21: #c00304;
// 22
$b23: #dd6aa6;
$b24: #00b1b2;
// 25 - 27
$b28: #814796;
// 29
$b30: #88b4e1;
// 31 == 30
$b32: #9c1145;
$b33: #0f3f93;
$b34: #719613;
// 35, 36, 37
$b41: #ba5f1b;
// 42, 43
$b77: #99a9af;
$b78: #c23a2c;
