$textLight: #fff;
$textDark: #000;
$borderLight: #848484;

$lRed: #c60c30;
$lBlue: #00a1de;
$lBrown: #62361b;
$lGreen: #009b3a;
$lOrange: #f9461c;
$lPink: #e27ea6;
$lPurple: #522398;
$lYellow: #f9e300;
