$textLight: #fff;
$textDark: #111;
$borderLight: #848484;

// cable car
$cEmirates: #e51937;
// bus
$b: #c33; // #d01a1e;
// river bus
$rbWoolwich: #f7931d;
$rb1: #2d3039;
$rb1x: #0b548b;
$rb2: #0072bc;
$rb4: #61c29d;
$rb5: #ba6830;
$rb6: #df64b0;
// $rb6a: #;

// tube
$tubeBakerloo: #894e24;
$tubeCentral: #dc241f;
$tubeCircle: #ffce00; // #f2bd09
$tubeDistrict: #007229; // #0d611f
$tubeHammersmith: #d799af;
$tubeJubilee: #6a7278;
$tubeMetropolitan: #751056;
$tubeNorthern: #111;
$tubePiccadilly: #0019a8; // #000097
$tubeVictoria: #00a0e2;
$tubeWaterloo: #76d0bd;

// overgrounds
$overground: #e86a10;
$tflRail: #0019a8;
$dlr: #00afad;
$t: #6c0;
