$textLight: #fff;
$textDark: #111;
$borderLight: #848484;

// subway
$subwayACE: #0039a6;
$subwayBDFM: #ff6319;
$subwayG: #6cbe45;
$subwayJZ: #996633;
$subwayL: #a7a9ac;
$subwayNQRW: #fccc0a;
$subwayS: #808183;
$subwayT: #00afd1;
$subway123: #ee352e;
$subway456: #00933c;
$subway7: #b933ad;
