$textColor: #fff;
$borderColor: #848484;

$bus: #00586a;
$s: #408335;
$tram: #d82020;
$u: #0068b0;

$u1: #438136;
$u2: #c40c37;
$u3: #f36e31;
$u4: #0ab38d;
$u5: #b8740e;
$u6: #006cb3;

$s1: #15bfe9;
$s2: #71bf44;
$s3: #90268f;
$s4: #ee1c28;
$s6: #009964;
$s7: #89322d;
$s8: #231f20;
$s8Text: #ffb800;