$bus: #00586a;
$busX: #4d9380;
$busMetro: #ec6726;

$s1: #15bfe9;
$s2: #71bf44;
$s3: #90268f;
$s4: #ee1c28;
$s6: #009964;
$s7: #89322d;
$s8: #231f20;
$s20: #f05972;
$s8Text: #ffb800;

$u: #0068b0;
$u1: #438136;
$u2: #c40c37;
$u3: #f36e31;
$u4: #0ab38d;
$u5: #b8740e;
$u6: #006cb3;

$tram: #d82020;
$tram12: #96368b;
$tram16: #0065ae;
$tram17: #8b563e;
$tram18: #13a538;
$tram19: #e30613;
$tram20: #16bae7;
$tram21: #f49e00;
$tram23: #bccf00;
$tram25: #f1919c;
$tram27: #f7a600;

