// bus
$b: #00586a;
$bX: #4d9380; // express lines
$bM: #ec6726; // metro lines

// sbahn
$s1: #15bfe9;
$s2: #71bf44;
$s3: #90268f;
$s4: #ee1c28;
$s6: #009964;
$s7: #89322d;
$s8: #231f20;
$s8Text: #ffb800;
$s20: #f05972;

// ubahn
$u: #0068b0;
$u1: #438136;
$u2: #c40c37;
$u3: #f36e31;
$u4: #0ab38d;
$u5: #b8740e;
$u6: #006cb3;

// tram
$t: #d82020;
$t12: #96368b;
$t16: #0065ae;
$t17: #8b563e;
$t18: #13a538;
$t19: #e30613;
$t20: #16bae7;
$t21: #f49e00;
$t23: #bccf00;
$t25: #f1919c;
$t27: #f7a600;

// zones
$zoneM: #00678d;
$zone1: #c7bb00;
$zone2: #b70738;
$zone3: #5dbbd0;
$zone4: #006b2d;
$zone5: #f39200;
$zone6: #005da9;
