&--b {
  background-color: $b;
  border-width: 0.15625em;
  border-radius: 10em;
  box-sizing: content-box;
  font-size: 0.8em;
  line-height: 2em;
  min-width: auto;
  overflow-wrap: break-word;
  width: 2em;
  padding: 0;
}
