$b: #8d198f; // round shape

$o1: #ed1c24; // square shape
$o2: #176fc1;
$o3: #8a6a2c;
$o4: #bfe588; // dark
$o5: #4dc6f4;
$o6: #73c82c;
$o7: #00aaa7;
$o8: #f68712;
$o9: #6d2b8b;
$o10: #f8a690; // dark
$o12: #ade3d6; // dark
$o14: #bfe588; // dark

$s1: #b5203e; // roundes corners
$s2: #176fc1;
$s3: #33b540;
$s4: #9e50ae;
