$textLight: #fff;
$textDark: #221e20;

$m: #009;
$m1: #fece00; // dark
$m2: #0065ae;
$m3: #9f971a;
$m3b: #99d4de; // dark -> 13
$m4: #be418d;
$m5: #f19043; // dark
$m6: #84ce8e; // dark
$m7: #f2a4b7; // dark
$m7b: #84c2be; // dark
$m8: #cdaccf; // dark
$m9: #d5c900; // dark
$m10: #e4b327; // dark
$m11: #8c5e24;
$m12: #007e49;
$m13: #99d4de;
$m14: #622280;

// white bg
$rerA: #ec222c;
$rerB: #468fcc;
