&-regensburg {
  @import "defaults/germany";

  @import "regensburg/colors";
  @import "regensburg/bus";

  font-family: Arial, Helvetica, sans-serif;
  min-width: 1.5em !important;
  padding: 0 0.0625em !important;
}
