$bus: #95276e;
$f: #528dba;
$tram: #be1414;

$u: #115d91;
$u1: #7dad4c;
$u2: #da421e;
$u3: #16683d;
$u4: #f0d722;
$u5: #7e5330;
$u6: #8c6dab;
$u7: #528dba;
$u8: #224f86;
$u9: #f3791d;

/*$s1: #;
$s2: #;
$s3: #;
$s41: #;
$s42: #;
$s45: #;
$s46: #;
$s47: #;
$s5: #;
$s7: #;
$s75: #;
$s8: #;
$s85: #;
$s9: #;*/
