// bus
$b: #95276e;
// ferry
$f: #528dba;
// tram
$t: #be1414;

// ubahn
$u: #115d91;
$u1: #7dad4c;
$u2: #da421e;
$u3: #16683d;
$u4: #f0d722;
$u5: #7e5330;
$u6: #8c6dab;
$u7: #528dba;
$u8: #224f86;
$u9: #f3791d;

// sbahn
$s1: #eb588f;
$s2: #047939;
$s3: #026597;
$s41: #aa3c1f;
$s42: #ba622d;
$s46: #ca8539;
$s5: #ea561c;
$s7: #764d9a;
$s8: #4fa433;
$s9: #951732;
