&--u {
  background-color: $u;
}
&--u1 {
  background-color: $u1;
}
&--u2 {
  background-color: $u2;
}
&--u3 {
  background-color: $u3;
}
&--u4 {
  background-color: $u4;
  color: $textDark;
}
&--u5,
&--u55 {
  background-color: $u5;
}
&--u6 {
  background-color: $u6;
}
&--u7 {
  background-color: $u7;
}
&--u8 {
  background-color: $u8;
}
&--u9 {
  background-color: $u9;
}
